Config (
    config: (
        output: "glass",
        passes: 16384,
        threads: None,
    ),
    camera: {
        "NaiveCamera": Config ((
            sampler: Random,
            eye: (
                x: 0,
                y: 0,
                z: 4,
            ),
            target: (
                x: 0.5,
                y: -0.5,
                z: 0.5,
            ),
            up: (
                x: 0,
                y: 1,
                z: 0,
            ),
            fov: 17,
            resolution: (
                x: 256,
                y: 256,
            ),
        )),
    },
    integrator: {
        "SpectralPath": (
            max_depth: 8,
            spectral_sampler: Hero,
            sampler: Random,
            direct_illum: All,
        ),
    },
    scene: (
        objects: [
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: 2,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
                tag: "debug",
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: -2,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(Red),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: -2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: 2,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(Green),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: -2,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    /*"Bubble": (
                    	inner: (
	                    center: (
	                        x: 0.5,
	                        y: -0.5,
	                        z: 0.5,
	                    ),
	                    radius: 0.4,
                    	),
                    	outer: (
	                    center: (
	                        x: 0.5,
	                        y: -0.5,
	                        z: 0.5,
	                    ),
	                    radius: 0.5,
                    	),
                    ),*/
                    "Sphere": (
                        center: (
                            x: 0.5,
                            y: -0.5,
                            z: 0.5,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Sapphire,
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Emitter((
                geometry: {
                    "Sphere": (
                        center: (
                            x: -0.5,
                            y: 0.5,
                            z: -0.5,
                        ),
                        radius: 0.5,
                    ),
                },
                emission: MulColor(4, White),
            )),
        ],
    ),
)
