Config (
    config: (
        output: "prism",
        passes: 5000000,
        threads: None,
    ),
    camera: {
        "NaiveCamera": Config ((
            sampler: Random,
            eye: (
                x: 0,
                y: 0,
                z: 4,
            ),
            target: (
                x: 0,
                y: 0,
                z: 0,
            ),
            up: (
                x: 0,
                y: 1,
                z: 0,
            ),
            fov: 70,
            resolution: (
                x: 1024,
                y: 1024,
            ),
        )),
    },
    integrator: {
        "SpectralPath": (
            max_depth: 8,
            sampler: Random,
            spectral_sampler: Hero,
            direct_illum: All,
        ),
    },
    scene: (
        objects: [
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: 2,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
                tag: "debug",
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: -2,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(Red),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: -2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: 2,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(Green),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: -2,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                a: 0.86516786,
                                b: 0.25882423,
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Mesh": Config((
                        path: "./res/meshes/prism.obj",
                        scale: Some((
                            x: 0.75,
                            y: 0.75,
                            z: 0.5,
                        )),
                        rotation: Some((
                            mat: (
                                x: (x: 0, y:0, z:1),
                                y: (x: 0, y:1, z:0),
                                z: (x:-1, y:0, z:0),
                            )
                        )),
                        translation: Some((
                            x: 0.0625,
                            y: -0.25,
                            z: 0.75,
                        )),
                        shading_mode: Flat,
                    )),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear(1.2, 1.7),
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Emitter((
                geometry: {
                    "Sphere": (
                        center: (
                            x: -0.5,
                            y: 0.5,
                            z: -0.5,
                        ),
                        radius: 0.5,
                    ),
                },
                emission: MulColor(4, White),
            )),
        ],
    ),
)
