(
    config: (
        output: "random",
        passes: 1000,
        threads: None,
    ),
    camera: {
        "NaiveCamera": (
            sampler: Random,
            eye: (
                x: 0,
                y: 0,
                z: 4,
            ),
            target: (
                x: 0,
                y: 0,
                z: 0,
            ),
            up: (
                x: 0,
                y: 1,
                z: 0,
            ),
            fov: 70,
            resolution: (
                x: 512,
                y: 512,
            ),
        ),
    },
    integrator: {
        "SpectralPath": (
            max_depth: 10,
            sampler: Random,
            spectral_sampler: Random,
            direct_illum: All,
        ),
    },
    scene: (
        objects: [
            // ceiling
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: 2,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                sigma: 20,
                            ),
                        },
                    ],
                ),
                tag: "debug",
            )),
            // left wall
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: -2,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(Red),
                                sigma: 20,
                            ),
                        },
                    ],
                ),
            )),
            // back wall
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: -2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                sigma: 20,
                            ),
                        },
                    ],
                ),
            )),
            // right wall
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: 2,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(Green),
                                sigma: 20,
                            ),
                        },
                    ],
                ),
            )),
            // floor
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: -2,
                            z: 2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                sigma: 20,
                            ),
                        },
                    ],
                ),
            )),

            Emitter((
                geometry: {
                    "Disk": (
                        center: (
                            x: -1.25,
                            y: 1.95,
                            z: 0,
                        ),
                        radius: 0.5,
                        normal: (
                            x: 0,
                            y: -1,
                            z: 0,
                        )
                    ),
                },
                emission: MulColor(4, White),
            )),
            Receiver((
                geometry: {
                    "Sphere": (
                        center: (
                            x: -1.25,
                            y: 1.25,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear(1.75, 1.25),
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Sphere": (
                        center: (
                            x: 0,
                            y: 1.25,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear(1.75, 1.25),
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Sphere": (
                        center: (
                            x: 1.25,
                            y: 1.25,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear(1.75, 1.25),
                                ),
                            ),
                        },
                    ],
                ),
            )),

            Emitter((
                geometry: {
                    "Disk": (
                        center: (
                            x: 0,
                            y: 1.95,
                            z: 0,
                        ),
                        radius: 0.5,
                        normal: (
                            x: 0,
                            y: -1,
                            z: 0,
                        )
                    ),
                },
                emission: MulColor(4, White),
            )),
            Receiver((
                geometry: {
                    "Sphere": (
                        center: (
                            x: -1.25,
                            y: 0,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear(1.75, 1.25),
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Sphere": (
                        center: (
                            x: 0,
                            y: 0,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear(1.75, 1.25),
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Sphere": (
                        center: (
                            x: 1.25,
                            y: 0,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear(1.75, 1.25),
                                ),
                            ),
                        },
                    ],
                ),
            )),

            Emitter((
                geometry: {
                    "Disk": (
                        center: (
                            x: 1.25,
                            y: 1.95,
                            z: 0,
                        ),
                        radius: 0.5,
                        normal: (
                            x: 0,
                            y: -1,
                            z: 0,
                        )
                    ),
                },
                emission: MulColor(4, White),
            )),
            Receiver((
                geometry: {
                    "Sphere": (
                        center: (
                            x: -1.25,
                            y: -1.25,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear(1.75, 1.25),
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Sphere": (
                        center: (
                            x: 0,
                            y: -1.25,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear(1.75, 1.25),
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Receiver((
                geometry: {
                    "Sphere": (
                        center: (
                            x: 1.25,
                            y: -1.25,
                            z: 0,
                        ),
                        radius: 0.5,
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear(1.75, 1.25),
                                ),
                            ),
                        },
                    ],
                ),
            )),
        ],
    ),
)
