(
    config: (
        output: "./images/dragon/focus-20000",
        passes: 20000,
        threads: None,
    ),
    camera: {
        "NaiveCamera": (
            sampler: Random,
            eye: (
                x: 0,
                y: 0,
                z: 4,
            ),
            target: (
                x: 0.625,
                y: -1.625,
                z: 0.25,
            ),
            up: (
                x: 0,
                y: 1,
                z: 0,
            ),
            fov: 10,
            resolution: (
                x: 512,
                y: 512,
            ),
        ),
    },
    integrator: {
        "SpectralPath": (
            max_depth: 8,
            sampler: Random,
            spectral_sampler: Hero,
            direct_illum: All,
        ),
    },
    scene: (
        objects: [
            // ceiling
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: 2,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: 6,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                sigma: 20,
                            ),
                        },
                    ],
                ),
            )),
            // left wall
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: -2,
                            y: 2.08,
                            z: 6,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(Red),
                                sigma: 20,
                            ),
                        },
                    ],
                ),
            )),
            // back wall
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: -2,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                sigma: 20,
                            ),
                        },
                    ],
                ),
            )),
            // right wall
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: 2,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: 6,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(Green),
                                sigma: 20,
                            ),
                        },
                    ],
                ),
            )),
            // front wall
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: 6,
                        ),
                        max: (
                            x: 2.08,
                            y: 2.08,
                            z: 6.08,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                sigma: 20,
                            ),
                        },
                    ],
                ),
            )),
            // floor
            Receiver((
                geometry: {
                    "Aabb": (
                        min: (
                            x: -2.08,
                            y: -2.08,
                            z: -2.08,
                        ),
                        max: (
                            x: 2.08,
                            y: -2,
                            z: 2.08,
                        ),
                    ),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "OrenNayar": (
                                r: Color(White),
                                sigma: 20,
                            ),
                        },
                    ],
                ),
            )),
            // dragon
            Receiver((
                geometry: {
                    "Mesh": Config((
                        path: "./meshes/dragon_512.obj",
                        scale: Some((
                            x: 3,
                            y: 3,
                            z: 3,
                        )),
                        translation: Some((
                            x: 0,
                            y: -1.999,
                            z: 0,
                        )),
                        shading_mode: Phong,
                    )),
                },
                bsdf: (
                    bxdfs: [
                        {
                            "FresnelSpecular": (
                                r: Color(White),
                                t: Color(White),
                                fresnel: (
                                    eta_i: Air,
                                    eta_t: Linear(1.7, 1.3),
                                ),
                            ),
                        },
                    ],
                ),
            )),
            Emitter((
                geometry: {
                    "Sphere": (
                        center: (
                            x: -0.5,
                            y: 0.5,
                            z: -0.5,
                        ),
                        radius: 0.5,
                    ),
                },
                emission: MulColor(4, White),
            )),
        ],
    ),
)
